@import 'styles/utils.scss';

.blog__title {
  margin-bottom: 5rem;
}

.blog__entries--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-auto-rows: 28rem;
  grid-gap: 2rem;
}

.blog__entry {
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  padding: 3rem;
  box-shadow: 0 1px 8px -2px rgba(0, 0, 0, 1);
}

.entry__title {
  font-size: 3rem;
  color: #eeeeee;
  margin-bottom: 1.6rem;
  transition: color 0.2s linear;
  &:hover {
    color: #c50000;
  }
}

.entry__description {
  font-size: 1.6rem;
  color: #eeeeee;
}
