@import 'styles/utils.scss';

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.portfolio__text--container {
  max-width: 70%;
}

.portfolio__button--container {
  display: flex;
  align-items: flex-end;
}

.portfolio__button {
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.portfolio__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 2rem;
}

.portfolio__project--container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.portfolio__project {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  object-fit: cover;
}

.portfolio__project--circle {
  @include center-content;
  background-image: url('../images/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all 0.3s linear;
  &:hover {
    background-size: 13rem;
  }
}