@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Regular.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./fonts/Satoshi-Light.woff2') format('woff2');
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

html, body, #root {
  min-height: 100vh;
  background-color: #000000;
}